h2{
padding-top: 10px;
}
#content {
	margin-left: 57px;
	margin-top: 40px;
}
#register label{
	margin-right:5px;
}

#register .short{
   
	color:#FF0000;
	
}
#register .weak{
   
	color:blue;
	
}
#register .good{
  
	color:gold;

}
#register .strong{
  
	color: #207720;

}
#register .verystrong{

	color: limegreen;
	
}
#confirm_pass .confirm{
    
	color: limegreen;
	
}



body {
    font-family: Byekan;
    direction:ltr;
}
/*form styles*/
 #msform {
    width: 710px;
    margin: 50px auto;
    text-align: center;
    position: relative;
    direction:rtl;
    font-family: Byekan;
    font-size: 13px;
    color: #6c6c6c;
 
}

/*buttons*/
 #msform .action-button, #msform .button, #msform .sms_button {
    width: 200px;
    background: #295b7b;
    font-weight: bold;
    font-family: Byekan;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 120px;
    border-radius: 3px;
} 
#msform .action-button:hover, #msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #2770ae;
}

/*headings*/
 .fs-title {
    font-size: 15px;
    text-transform: uppercase;
    color: #50362c;
    margin-bottom: 10px;
}
.fs-subtitle {
    font-weight: normal;
    font-size: 11px;
    color: #666;
    margin-bottom: 20px;
}
/*progressbar*/
 #progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}
#progressbar li {
    list-style-type: none;
    color: #F9F9F9;
    text-transform: uppercase;
    font-size: 13px;
    width: 20.00%;
    float: right;
    position: relative;
}

#progressbar li:textcolor {

    color: #F9F9F9;
  
}
#progressbar li:before {
    content: counter(step);
    counter-increment: step;
   
    line-height: 20px;
    display: block;
    font-size: 13px;
    color: #333;
    background: white;
    border-radius: 8px;
    margin: 0 auto 1px auto;
}
/*progressbar connectors*/
 #progressbar li:after {
    content:'';
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1;
    /*put it behind the numbers*/
}
 
#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}
/*marking active/completed steps green*/

/*The number of the step and the connector before it = green*/
 #progressbar li.active:before, #progressbar li.active:after {
    background: #00CC00;
    color: block;
}
/*Password Strength*/

 #progressbar li.disabled:before, #progressbar li.active:after {
    background: #CC003E;
    color: block;
}

 #progressbar li.target:before, #progressbar li.active:after {
    background: gold;
    color: block;
}






label { display: inline-block; }
.realperson-challenge { display: inline-block }

